[Desktop Entry]
Name=BTRFS Assistant
Comment=Change BTRFS system settings
Exec=btrfs-assistant-launcher
Terminal=false
Type=Application
Icon=btrfs-assistant
Categories=System;
NoDisplay=false
